body, h2, h4 {
    padding: 0;
    margin: 0;
}

/*云监控*/
.cloudMonitor {
    background: #EAEDF2;
    float: left;
    color: #2B2E2F;
}

.cloudMonitor h2 {
    padding: 30px 70px;
    background: #D9DEE4;
}

.cloudMonitor h4 {
    padding: 20px 60px 20px 40px;
    cursor: pointer;
    font-weight: normal;
}

.cloudMonitor .Dashboard {
    background: #fff;
    font-weight: bold;
}

/*选项*/

.choice {
    font-size: 18px;
    height: 90px;
    border-bottom: 1px solid #ccc;
}

.choice label {
    border-left: 5px solid #00A7C2;
    padding-left: 10px;
}

.choice .monitor {
    padding: 25px;
    float: left;
}

.choice select {
    width: 200px;
    height: 38px;
}

.choice select option {
    font-size: 16px;
}

.choice .button {
    padding: 30px;
    float: right;
}

.choice .button a {
    padding: 10px 30px;
    margin: 10px 5px;
    text-decoration: none;
    background: #00A7C2;
    color: #fff;
    transition: box-shadow 0.3s;
}

.choice .button a:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
}

/*时间*/
.time {
    height: 60px;
    border-bottom: 1px solid #ccc;
    vertical-align: center;
}

.time span {
    display: block;
    float: left;
    margin: 15px 10px;
    padding: 5px 15px;
    color: #546379;
    background: #D7DEE4;
    cursor: pointer;
}

.time .one {
    color: white;
    background: #546379;
}

.time input {
    margin: 15px 10px;
    height: 27px;
}

/*表格*/
.charts {
    margin: 20px;
    max-width: 1300px;
}

.charts a {
    border: 1px solid #ccc;
    margin: 10px 30px;
    text-decoration: none;
    transition: box-shadow 0.3s;
    float: left;
}

.charts a:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.3);
}

#chart1, #chart2, #chart3, #chart4, #chart5, #chart6 {
    width: 300px;
    height: 240px;
    float: right;

}
